<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Загрузка скетча в Arduino</h1>
<br>
<form method="post" enctype="">
    {{ form.csrf_token }}
    {{ form.partno }}
    {{ form.baudrate }}
    {{ form.programmer }}
    <input type="submit" value="Загрузка">
</form>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <i>
        {{ message }}
        <br>
        </i>
        {% endfor %}
    {% endif %}
{% endwith %}
</body>
</html>